@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .dropdown-content {
        @apply p-0 bg-custom-static-2 z-[1] w-52 shadow text-custom-static-1;
    }
    .dropdown-content > li {
        @apply rounded-none;
        @apply hover:bg-custom-static-5/50;
    }

    .btn {
        @apply rounded-none hover:text-custom-static-1 hover:bg-custom-color-5 bg-custom-static-2 border-0 text-custom-static-1;
    }
}

@layer base {
    :root {
        /* set here independent colors */
        --color-number: #cc0101;

        --s-color-1: 230 216 189;
        --s-color-2: 201 115 56;
        --s-color-3: 165 77 39;
        --s-color-4: 101 55 31;
        --s-color-5: 27 27 27;
    }

    :root[data-theme="light"] {
        --color-1: 230 216 189;
        --color-2: 201 115 56;
        --color-3: 165 77 39;
        --color-4: 101 55 31;
        --color-5: 27 27 27;
    }

    :root[data-theme="dark"] {
        --color-1: 27 27 27;
        --color-2: 101 55 31;
        --color-3: 165 77 39;
        --color-4: 201 115 56;
        --color-5: 230 216 189;
    }
}

body,
:root {
    background: rgb(var(--color-1));
    color: rgb(var(--color-5));
}

input::placeholder,
textarea::placeholder {
    color: rgb(var(--color-5));
    opacity: .65;
}
